---
import Container from "../primitives/Container.astro";
---

<section class="py-10">
  <Container>
    <div class="flex flex-wrap items-center justify-between gap-8 opacity-70">
      <img src="/logos/amazon.jpg" alt="Amazon" class="h-12" />
      <img src="/logos/dribble.jpg" alt="Dribbble" class="h-12" />
      <img src="/logos/hubspot.jpg" alt="HubSpot" class="h-12" />
      <img src="/logos/notion.jpg" alt="Notion" class="h-12" />
      <img src="/logos/netflix.jpg" alt="Netflix" class="h-12" />
      <img src="/logos/zoom.jpg" alt="Zoom" class="h-12" />
    </div>
  </Container>
</section>