---
const { title, subtitle } = Astro.props;
---

<div class="">
  <h2 class="text-[32px] md:text-[40px] font-bold leading-tight">
    {title}
  </h2>
  <p class="mt-4 text-[16px] text-gray-600">
    {subtitle}
  </p>
</div>